@import "../../styled/scss/abstract/mixins.scss";

.card {
  -webkit-box-shadow: 0px 7px 7px 3px rgba(122, 121, 122, 0.66);
  -moz-box-shadow: 0px 7px 7px 3px rgba(122, 121, 122, 0.66);
  box-shadow: 0px 7px 7px 3px rgba(122, 121, 122, 0.66);
  height: 78vh;
  width: 40vw;
  @include respond(tab-land) {
    width: 50vw;
  }
  @include respond(tab-port) {
    width: 60vw;
  }
  @include respond(phone) {
    width: 90vw;
  }
  background-color: white;
  border-radius: 4px;
}
