.fade-appear {
  opacity: 0;
  transform: scale(0.8);
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transform: scale(1);

  transition: all 1600ms ease-in-out;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 5000ms linear 5000ms;
}

/* exit */
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 5000ms linear;
}
.fade-exit-done {
  opacity: 0;
}
